/* =============
    Section 1
============= */
#section-1 {
    overflow: hidden;
    height: 360px;
   
    @include md {
        height: 510px;
    }

    >div{
        background-image: url('../img/section-1/Cliff_In_Ireland.jpg');
        background-position: center;
        background-size: cover;
        height: 100%;
    }

}